<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div class="me">
        <img src="me.jpeg" alt="">
        <p>
            <strong>Hassane Dao</strong>
            <span>Développeur full-stack</span>
            <span style="font-weight:bold; margin-top: 3px; font-family: 'Fira Code'">#Vuejs</span>
        </p>
    </div>
    <img class="img" src="logo.jpeg" alt="">
    
    <div id="shopping-list">
        <div class="header">
            <h1>{{ header.toUpperCase() }}</h1>
            <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Ajouter</button>
            <button v-else class="btn btn-cancel" @click="changeState('default')">Annuler</button>
        </div>
        <div v-if="state === 'edit'" class="add-item-form">
            <input type="text" v-model="newItem" placeholder="Ajouter un contenu" @keyup.enter="saveItem">
            <p>{{ characterCount }}/200</p>
            <button class="btn btn-primary" @click="saveItem()" :disabled="newItem.length === 0">Enregistrer</button>
        </div>
        <ul>
            <li v-for="item in reversedItems"  :class="{strikeout : item.purchased}">{{ item.label }}</li>
        </ul>
        <p v-if="items.length === 0">Super!!, vous avez acheté tous vos articles</p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        var shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                state: 'default',
                header: "shopping list app",
                newItem: '',
                items: [
                    // {
                    //     label: '1kg de tomates',
                    //     purchased: false,
                    //     hightPriority: true
                    // },
                    // {
                    //     label: '2kg d\'oignons',
                    //     purchased: true,
                    //     hightPriority: true
                    // },
                    // {
                    //     label: '1kg de riz',
                    //     purchased: false,
                    //     hightPriority: false
                    // }
                ]
            },
            methods: {
                saveItem: function() {
                    this.items.push({
                        label: this.newItem,
                        purchased: false
                    })
                    this.newItem = ''
                },
                changeState: function(newState) {
                    this.state = newState
                    this.newItem = ''
                }
            },
            computed: {
                characterCount() {
                    return this.newItem.length
                },
                reversedItems() {
                    return this.items.slice(0).reverse();
                }
            }
        })
    </script>
</body>
</html>